body {
    margin: 0;
    background-color: rgb(43, 42, 42);
    font-family: sans-serif;
    font-size: larger;
    font-style: italic;
}

.header {
    background-color: rgb(66, 4, 4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.ps {
    width: 80px;
}

.header-links a {
    color: white;
    padding: 5px 25px;
    text-decoration: none;
}

.header-links a:hover {
    background-color: rgb(43, 42, 42);
    border-radius: 10px;
}

.header-links button {
    background-color: rgb(43, 42, 42);
    color: white;
    border-radius: 7px;
    border: none;
    padding: 5px 15px;
    font-size: 17px;
    font-style: italic;
}

.header-links button:hover {
    width: 102px;
}

.landing-page {
    background-color: rgb(66, 4, 4);
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    align-items: center;
    color: white;
    border-radius: 0 0 60px 60px;
}

.landing-page-left-section {
    width: 900px;
}

.landing-page-SEARCH input {
    border-radius: 50px;
    border: none;
    outline: none;
    height: 30px;
    padding: 0 10px;
}

.landing-page-SEARCH button {
    position: absolute;
    left: 240px;
    background-color: rgb(43, 42, 42);
    color: white;
    border-radius: 50px;
    border: none;
    padding: 5px 15px;
    font-size: 17px;
    font-style: italic;
}

.landing-page-SEARCH button:hover {
    background-color: rgb(30, 26, 26);
}

.landing-page-img img {
    border-radius: 25px;
    width: 350px;
    margin: 20px;
}

.Trending-container {
    padding: 25px 50px;
    color: white;
}

.rending-header {
    display: flex;
    justify-content: space-between;
    color: white;
}

.Trending-header button:hover {
    background-color: rgb(30, 26, 26);
    
}
.Traending-card{
    display: flex;
    justify-content: center;
    gap: 150px;
}
.card{
    width: 250px;
    background-color: rgb(66, 4, 4);
    border-radius:20px;
}
.card-info{
    display: flex;
    justify-content: space-between;
    padding: 0px 85px;
    align-items: center;
    
}
.card img{
    width: 250px;
}
.price{
    color:rgb(118, 104, 104);
}
